
services:
  redis:
    image: redis:latest
    container_name: redis
    command: redis-server --requirepass abcd1234
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data: